* {
    font-family: 'Gopher';
}

.container {
    background-color: #F0E7DB;
    display: flex;
    /* width: 1200px; */
    height: 900px;
    margin: auto;
    padding: 20px;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: center; */
    align-content: flex-start;
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: space-evenly;
    
}

.special {
    align-self: flex-end;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid rgba(36,37,38, 0.2) ;
    border-radius: 8px;
    text-align: center;
    background-color: #efefef;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    margin: 10px;
}

.image {
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.card button {
    background-color: #242526;
    color: #efefef;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    transition: all 0.1s;
    cursor: pointer;
}

.card button:hover {
    background-color: #18191A;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.card button:active {
    transform: translateY(2px)
}

.special {
    align-self: flex-start;
}